# ASX Data Exploration

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data Source

https://www.asxhistoricaldata.com/ - extracted 28-10-2018

### Data Format
End-of-Day (EOD) .txt file grouped by week.

Comma separated Ticker, Date, Open, High, Low, Close, Volume.

In [9]:
!ls -la ../data

total 176268
drwxr-xr-x 3 jovyan users        96 Oct 28 03:30 .
drwxr-xr-x 9 jovyan users       288 Oct 28 03:42 ..
-rw-r--r-- 1 jovyan users 180495448 Oct 28 03:30 complete-2018-10-28.txt

In [14]:
asx_historical = pd.read_csv('../data/complete-2018-10-28.txt', names=['ticker', 'date', 'open', 'high', 'low', 'close', 'volume'])

In [15]:
asx_historical.head()

  ticker      date    open   high     low   close  volume
0    AAC  20070102   1.850   1.91   1.825   1.910  204866
1    AAE  20070102   0.390   0.40   0.380   0.395   78214
2    AAM  20070102   0.195   0.21   0.195   0.210  275000
3    AAN  20070102  11.800  11.81  11.540  11.590  489472
4    AAO  20070102   0.140   0.18   0.140   0.180  540505

In [17]:
asx_historical.dtypes

ticker     object
date        int64
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object